<launch>
    <group ns="my_turtle" >
        <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />

        <node
            output = "screen"
            pkg="turtlesim_control" type="controller_main.py" name="turtle_pose_controller"/>

        <node
            launch-prefix="xterm -e"
            output = "screen"
            pkg="turtlesim_control" type="goal_sender_main.py" name="turtle_pose_goal_sender" />
    </group>
 </launch>
